# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\gitopsconfig\k8s_config\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
